html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: none;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: top/cover url("../img/background.jpg");
  margin: 10vh 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20vh 30vh 20vh;
      grid-template-rows: 20vh 30vh 20vh;
      grid-template-areas: "intro" "about"  "contact";
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section {
  background: rgba(255, 255, 255, 0.75);
}

.intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.intro h1 {
  text-align: center;
  padding: 2rem;
}

.intro .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.intro .link p::before {
  content: "\00a0";
}

.about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
}

.about h2 {
  text-align: center;
  padding: 2rem;
}

.contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contact;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
}

.contact h2 {
  text-align: center;
  padding: 2rem;
}

@media (max-width: 1025px) {
  body {
    background: top/cover url("../img/background.jpg");
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .intro, .about, .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.icon {
  width: 1.75em;
  height: 1.75em;
}

.discord {
  fill: #7289da;
}

.facebook {
  fill: #3b5998;
}

.twitch {
  fill: #6441a5;
}

.youtube {
  fill: #ff0000;
}
