html {
  margin: 0 auto;
}

body {
  background: white;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  margin: 10vh 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20vh 30vh 20vh;
      grid-template-rows: 20vh 30vh 20vh;
      grid-template-areas: "intro" "about"  "contact";
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section {
  background: rgba(255, 255, 255, 0.5);
}

.intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.intro h1 {
  text-align: center;
  padding: 2rem;
}

.about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
}

.about h2 {
  text-align: center;
  padding: 2rem;
}

.contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contact;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 10vh;
}

.contact h2 {
  text-align: center;
  padding: 2rem;
}
