html {
    box-sizing: border-box;
    overflow: none;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background: top / cover url("../img/background.jpg");
    margin: 10vh 20vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 30vh 20vh;
    grid-template-areas:
        "intro"
        "about" 
        "contact";
    align-self: center;
    align-items: flex-start;
}
main {
    section {
        background: rgba($color: white, $alpha: 0.5);
    }
}
.intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1 {
        text-align: center;
        padding: 2rem;
    }
}
.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10vh;
    h2 {
        text-align: center;
        padding: 2rem;
    }
}
.contact {
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10vh;
    h2 {
        text-align: center;
        padding: 2rem;
    }
}
@media (max-width: 1025px) {
    body {
        background: top / cover url("../img/background.jpg");
        display: grid;
        grid-template-columns: auto;
    }
    .intro, .about, .contact {
        display: grid;
        grid-template-columns: auto;
    }
}