@import '_variables';
@import '_imports';

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
    background: top / cover url("../img/background.jpg");
}
#intro, #about, #contact {
  background: $light-background;
}
.fas {
  font-size: $font-size;
  display: inline;
}
.fab {
    font-size: $font-size;
    display: inline;
  }
  
  .fa-youtube {
    color: $youtube;
  }
  
  .fa-facebook {
    color: $facebook;
  }
  
  .fa-discord {
    color: $discord;
  }
  
  .fa-twitch {
    color: $twitch;
  }
.lead {
    &.text {
        display: inline;
        font-size: $font-size;
        padding-left: 0.5em;
    }
}